In [35]:
import pandas as pd
import numpy as np

## 七、问题与练习

### 1. 问题
#### 【问题一】 如何更改列或行的顺序？如何交换奇偶行（列）的顺序？
#### 【问题二】 如果要选出DataFrame的某个子集，请给出尽可能多的方法实现。
#### 【问题三】 query函数比其他索引方法的速度更慢吗？在什么场合使用什么索引最高效？
#### 【问题四】 单级索引能使用Slice对象吗？能的话怎么使用，请给出一个例子。
#### 【问题五】 如何快速找出某一列的缺失值所在索引？
#### 【问题六】 索引设定中的所有方法分别适用于哪些场合？怎么直接把某个DataFrame的索引换成任意给定同长度的索引？
#### 【问题七】 多级索引有什么适用场合？
#### 【问题八】 什么时候需要重复元素处理？

问题都不知道……

### 2. 练习
#### 【练习一】 现有一份关于UFO的数据集，请解决下列问题：

In [33]:
data = pd.read_csv('joyful-pandas-master/data/UFO.csv').head()
data.rename(columns={'duration (seconds)':'duration'},inplace=True)
data

           datetime     shape  duration   latitude   longitude
0  10/10/1949 20:30  cylinder    2700.0  29.883056  -97.941111
1  10/10/1949 21:00     light    7200.0  29.384210  -98.581082
2  10/10/1955 17:00    circle      20.0  53.200000   -2.916667
3  10/10/1956 21:00    circle      20.0  28.978333  -96.645833
4  10/10/1960 20:00     light     900.0  21.418056 -157.803611

#### （a）在所有被观测时间超过60s的时间中，哪个形状最多？
#### （b）对经纬度进行划分：-180°至180°以30°为一个划分，-90°至90°以18°为一个划分，请问哪个区域中报告的UFO事件数量最多？

In [32]:
data.query('duration > 60.0')['shape'].value_counts().index[0]

'light'

In [39]:
bins_long = np.linspace(-180,180,13).tolist()
bins_la = np.linspace(-90,90,11).tolist()
cuts_long = pd.cut(data['longitude'],bins=bins_long)
data['cuts_long'] = cuts_long
cuts_la = pd.cut(data['latitude'],bins=bins_la)
data['cuts_la'] = cuts_la
data.head()

,datetime,shape,duration,latitude,longitude,cuts_long,cuts_la
0,10/10/1949 20:30,cylinder,2700.0,29.883056,-97.941111,"(-120.0, -90.0]","(18.0, 36.0]"
1,10/10/1949 21:00,light,7200.0,29.384210,-98.581082,"(-120.0, -90.0]","(18.0, 36.0]"
2,10/10/1955 17:00,circle,20.0,53.200000,-2.916667,"(-30.0, 0.0]","(36.0, 54.0]"
3,10/10/1956 21:00,circle,20.0,28.978333,-96.645833,"(-120.0, -90.0]","(18.0, 36.0]"
4,10/10/1960 20:00,light,900.0,21.418056,-157.803611,"(-180.0, -150.0]","(18.0, 36.0]"

#### 【练习二】 现有一份关于口袋妖怪的数据集，请解决下列问题：

In [42]:
df=pd.read_csv('joyful-pandas-master/data/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### （a）双属性的Pokemon占总体比例的多少？
#### （b）在所有种族值（Total）不小于580的Pokemon中，非神兽（Legendary=False）的比例为多少？
#### （c）在第一属性为格斗系（Fighting）的Pokemon中，物攻排名前三高的是哪些？
#### （d）请问六项种族指标（HP、物攻、特攻、物防、特防、速度）极差的均值最大的是哪个属性（只考虑第一属性，且均值是对属性而言）？
#### （e）哪个属性（只考虑第一属性）的神兽比例最高？该属性神兽的种族值也是最高的吗？

In [43]:
df['Type 2'].count()/df.shape[0]

0.5175

In [44]:
df.query('Total >= 580')['Legendary'].value_counts(normalize=True)

True     0.575221
False    0.424779
Name: Legendary, dtype: float64

In [45]:
df[df['Type 1']=='Fighting'].sort_values(by='Attack',ascending=False).iloc[:3]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
594,534,Conkeldurr,Fighting,NaN,505,105,140,95,55,65,45,5,False
74,68,Machamp,Fighting,NaN,505,90,130,80,65,85,55,1,False

In [46]:
df['range'] = df.iloc[:,5:11].max(axis=1)-df.iloc[:,5:11].min(axis=1)
attribute = df[['Type 1','range']].set_index('Type 1')
max_range = 0
result = ''
for i in attribute.index.unique():
    temp = attribute.loc[i,:].mean()
    if temp.values[0] > max_range:
        max_range = temp.values[0]
        result = i
result

'Steel'

In [47]:
df.query('Legendary == True')['Type 1'].value_counts(normalize=True).index[0]

'Psychic'

In [48]:
attribute = df.query('Legendary == True')[['Type 1','Total']].set_index('Type 1')
max_value = 0
result = ''
for i in attribute.index.unique()[:-1]:
    temp = attribute.loc[i,:].mean()
    if temp[0] > max_value:
        max_value = temp[0]
        result = i
result

'Normal'